@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit{
    font-family: "Outfit", sans-serif;
}
hr{
    color: #E6E6E6;
}
.mony-history{
    border: 2px solid rgb(123, 125, 131);
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
}